body {
  font-family: 'Roboto Condensed' !important;
}

.ant-btn-primary,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #00474f !important;
  border-color: #00474f !important;
}

.ant-btn-primary:hover,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color: #006d75 !important;
  border-color: #006d75 !important;
}

.ant-btn span {
  font-weight: 700;
}

button.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
